<% if User.current.allowed_to?(:view_indicadores, @project, :global => true) %>
	<%= javascript_include_tag 'highcharts.js', :plugin => 'teo_management_indicators' %>
	<%= javascript_include_tag 'highcharts-more.js', :plugin => 'teo_management_indicators' %>
	<%= javascript_include_tag 'modules/exporting.js', :plugin => 'teo_management_indicators' %>
	<%= stylesheet_link_tag 'indicators', :plugin => 'teo_management_indicators' %>

	<% cargaGraficasProyecto %>

	<% if (@chart_view.acsG1 != nil && !@chart_view.acsG1.empty?) || (@chart_view.mapaG2 != nil && !@chart_view.mapaG2.empty?) %>
		<div class="box">
			<h3><span class="icon icon-chart"><%= l(:main_title_management_indicators) %>
				<a href="/indicadores?project_id=<%=$CONST_ID_PROJ%>">Ver m&#225;s</a></h3>
			<br>
			<br>
			<div style="width:90%;">
				<% if @chart_view.acsG1 != nil && !@chart_view.acsG1.empty? %>
					<fieldset>
						<%= high_chart("div_stackG1a", @chart_view.stackG1a) %>

						<%= high_chart("div_stackG1b", @chart_view.stackG1b) %>
					</fieldset>
				<% end %>
			</div>
			<br>
		</div>
	<% else %>
		<div class="box">
			<h3><span class="icon icon-chart"><%= l(:main_title_management_indicators) %>
				<a href="/indicadores?project_id=<%=$CONST_ID_PROJ%>">Ver m&#225;s</a></h3>
		</div>
	<% end %>
<% end %>