<% content_for :header_tags do %>
    <%= javascript_include_tag 'highcharts.js', :plugin => 'teo_management_indicators' %>
    <%= javascript_include_tag 'highcharts-more.js', :plugin => 'teo_management_indicators' %>
    <%= javascript_include_tag 'modules/exporting.js', :plugin => 'teo_management_indicators' %>

    <style>
		table {
		    border-collapse: collapse;
		}

		table, td, th {
		    border: 1px solid black;
		}
	</style>
<% end %>

<h2><%= l(:main_title_management_indicators) %></h2>

<% if @acsG1 != nil && !@acsG1.empty? %>
	<fieldset style="border:1px solid #628DB6;">
		<div style="margin:0 0 0 5%">
			<div style="float: left">
				<div>
					<%= high_chart("div_stackG1a", @stackG1a) %>
				</div>

				<div>
					<%= high_chart("div_stackG1b", @stackG1b) %>
				</div>
			</div>

			<div style="float: left">
				<div style="margin:5% 0 0 20%">
					<table style="white-space: nowrap;">
						<tr style="background-color: lightgrey;color: #3E5B76;font-weight: bold;">
							<td style="text-align:left;"><%= l(:field_status) %></td>
							<td style="text-align:center;"><%= l(:field_cost) %></td>
							<td style="text-align:center;">%</td>
							<td style="text-align:center;">% <%= l(:field_accumulate) %></td>
						</tr>
						<% if @mapaTablaG1 != nil && !@mapaTablaG1.empty? %>
							<% @mapaTablaG1.each do |key, value| %>
								<tr>
									<td style="text-align:left;"><%= I18n.t("field_" + value[0].to_s) %></td>
									<td style="text-align:right;"><%= value[1] %> €</td>
									<td style="text-align:right;"><%= value[2] %> %</td>
									<td style="text-align:right;"><%= value[3] %> %</td>
								</tr>
							<% end %>
						<% end %>
						<tr>
							<td style="text-align:left;font-weight:bold;"><%= l(:field_budget) %></td>
							<td style="text-align:right;font-weight:bold;"><%= @importeAcumuladoG1 %> €</td>
							<td style="text-align:right;font-weight:bold;"><%= @porcentajeAcumuladoG1 %> %</td>
							<td></td>
						</tr>
					</table>

					<br>

					<table style="white-space: nowrap;">
						<tr>
							<td style="text-align:left;"><%= l(:field_start_date) %></td>
							<% if @fechaInicio == nil %>
								<td></td>
							<% else %>
								<td style="text-align:right;"><%= (@fechaInicio).strftime("%d/%m/%y") %></td>
							<% end %>
						</tr>
						<tr>
							<td style="text-align:left;"><%= l(:field_due_date) %></td>
							<% if @fechaFin == nil %>
								<td></td>
							<% else %>
								<td style="text-align:right;"><%= (@fechaFin).strftime("%d/%m/%y") %></td>
							<% end %>
						</tr>
						<tr>
							<td style="text-align:left;"><%= l(:field_period) %> (<%= l(:field_days) %>)</td>
							<td style="text-align:right;"><%= @diasTotales %></td>
						</tr>
						<tr>
							<td style="text-align:left;"><%= l(:field_today) %></td>
							<% if @fechaHoy == nil %>
								<td></td>
							<% else %>
								<td style="text-align:right;"><%= (@fechaHoy).strftime("%d/%m/%y") %></td>
							<% end %>
						</tr>
						<tr>
							<td style="text-align:left;"><%= l(:field_time_passed) %> (<%= l(:field_days) %>)</td>
							<td style="text-align:right;"><%= @diasTranscurridos %></td>
						</tr>
						<tr>
							<td style="text-align:left;"><%= l(:field_time_passed) %> (%)</td>
							<td style="text-align:right;"><%= @porcentajeDiasTranscurridos %> %</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</fieldset>
<% end %>

<br><br>

<% if @mapaG2 != nil && !@mapaG2.empty? %>
	<fieldset style="border:1px solid #628DB6;">
		<div style="margin:0 0 0 5%">
			<div style="float: left">
				<%= high_chart("div_chartG2", @chartG2) %>
			</div>

			<div style="float: left;">
				<div style="margin:70% 0 0 50%">
					<table style="white-space: nowrap;">
						<tr style="background-color: lightgrey;color: #3E5B76;font-weight: bold;">
							<td style="text-align:center;"><%= l(:field_year) %></td>
							<td style="text-align:center;"><%= l(:field_budget) %></td>
						</tr>
						<% if @mapaG2 != nil && !@mapaG2.empty? %>
							<% @mapaG2.to_a.reverse.to_h.each do |key, value| %>
								<tr>
									<td style="text-align:right;"><%= key %></td>
									<td style="text-align:right;"><%= value %> €</td>
								</tr>
							<% end %>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</fieldset>
<% end %>